*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: cursive;
    }
    .container{
        height: 100vh;
        background: hotpink;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mycal{
        padding: 20px;
        margin: 20px;
        height: 400px;
        width: 100%;
        border-radius: 20px;
        position: relative;
        background: lightblue;
        max-width: 300px;
    }
    .mycal form input{
        width:50px;
        height:50px;
        cursor: pointer;
        margin: 5px;
        border-radius: 5px;
    }
    form .display-cal{
        height: 80px;
        width: 100%;
        border-radius: 6px;
        text-align: right;
        color: black;
    }
    form .display-cal input[type="text"]{
        text-align: center;
        flex: 2;
        font-size: 18px;
        width:100%
    }
    .cal-operator{
        color: blueviolet;
    }
    form input.equal{
        width: 50px;
    }